.products-container {
	max-width: 1168px;
	margin-left: auto;
	margin-right: auto;
	transform: translate3d(0, 0, 0);
	margin-bottom: 57.78px;
}
.product-cart {
	margin-bottom: 32px;
	margin-right: 32px;
}
.product-cart:last-child {
	margin-right: 0px !important;
}

.products-scroll {
	display: flex;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: thin;
	scroll-behavior: smooth;
}
.products-scroll::-webkit-scrollbar {
	height: 5px;
}
.products-scroll::-webkit-scrollbar-track {
	border: 3px solid #d9d9d9;
	opacity: 1;
}
.products-scroll::-webkit-scrollbar-thumb {
	border: 5px solid #542e90;
	opacity: 1;
}
.prev {
	border: 0;
	min-width: 55px;
	position: absolute;
	top: 0;
	bottom: 7.5%;
	left: 0;
	background: #1d1d1b 0% 0% no-repeat padding-box;
	border-radius: 20px 0px 0px 20px;
	opacity: 0.1;
	cursor: pointer;
	z-index: 100;
}

.prev:hover {
	opacity: 0.3;
}

.next {
	border: 0;
	min-width: 55px;
	position: absolute;
	top: 0;
	bottom: 7.5%;
	right: 0;
	background: #1d1d1b 0% 0% no-repeat padding-box;
	border-radius: 20px 0px 0px 20px;
	opacity: 0.1;
	cursor: pointer;
	transform: matrix(-1, 0, 0, -1, 0, 0);
}
.next:hover {
	opacity: 0.3;
}

@media screen and (max-width: 800px) {
	.prev,
	.next,
	.products-scroll::-webkit-scrollbar {
		display: none;
	}
}
@media screen and (min-width: 500px) and (max-width: 800px) {
	.products-container {
		margin-bottom: 24px !important;
	}
	.product-cart {
		margin-bottom: 0px !important;
	}
}

@media screen and (min-width: 320px) and (max-width: 500px) {
	.products-container {
		margin-bottom: 24px !important;
	}
	.product-cart {
		margin-right: 16px !important;
		margin-bottom: 0px !important;
	}
}
