.view-all-btn {
  max-width: 180px;
  max-height: 48px;
  background: #fff200 0% 0% no-repeat padding-box;
  border-radius: 24px;
  opacity: 1;
  text-decoration: none;
  padding: 14.93px 48.18px;
  font-family: "Montserrat", sans-serif;
  strong {
    min-width: 84px;
    min-height: 27px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0px;
    color: #3c3c3b;
    opacity: 1;
  }
}
