.mainSection {
  height: 48px;
  width: 100%;
  background-color: #fff100;
  display: flex;
}
.mainSectionContainer {
  margin-right: auto;
    margin-left:  auto; 
    max-width: 1270px;
    padding-left: 20px;
    padding-right: 20px;
  display: flex;
  align-items: center;
}
.yeshteryMenu {
  display: flex;
  align-items: center;
}
.menuIcon {
  margin-right: 32px;
}
.shoppingCaption {
  display: flex;
  justify-content: space-between;
  width: 440px;
  margin-left: 105.9px;
  p {
    font-size: 14px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    a{
      font-size: 14px;
      text-align: center;
text-decoration: underline;
letter-spacing: 0px;
color: #000000;
font-weight: 900;
    }
  }
}
.mainOptions {
  display: flex;
  align-items: center;
  margin-left: 51.4px;
  font-family: 'Montserrat', sans-serif;
  div {
    display: flex;
    align-items: center;
    p {
      margin-left: 10px;
      margin-right: 51.4px;
      font-size: 14px;
      font-weight: 900;
    }
  }
  .lastDiv {
    margin-right: 0px !important;
  }
}

@media screen and (min-width: 1120px) and (max-width: 1250px) {
  .mainSectionContainer {
    max-width: 1000px;
}
  .shoppingCaption {
    margin-left: 65.5px;
    p {
      font-size: 10px;
    }
  }
  .mainOptions {
      margin-left: 35px;
    div {
        p {
          font-size: 12px;
          width: 78px;
          margin-left: 7px;
          margin-right: 20px;
          font-weight: 900;
        }
}}
}

@media screen and (min-width: 900px) and (max-width: 1120px) {
  .mainSectionContainer {
    max-width: 900px;
}
  .shoppingCaption {
    margin-left: 28.5px;
    p {
      font-size: 10px;
    }
  }
  .mainOptions {
    margin-left: 20px;
    div {
        p {
          font-size: 12px;
          width: 78px;
          margin-left: 5px;
          margin-right: 7px;
          font-weight: 900;
        }
  
}}
.menuIcon {
  margin-right: 25px;
}
}


