.o-cart {
  max-width: 568px;
  max-height: 450px;
  background: #ff0000 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.o-cart-img {
  width: 568px;
  height: 450px;
  border-radius: 20px;
  img {
    width: 100%;
  }
}

.o-cart-caption {
  width: 219px;
  position: absolute;
  top: 70.78px;
  left: 32.55px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.o-main-caption {
  height: 141px;
  font-size: 34.8px;
  font-weight: 900;
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  text-shadow: 0px 0px 5px #00000040;
  opacity: 1;
  margin-bottom: 6.5px;
}
.o-sec-caption {
  height: 77px;
  font-size: 18.18px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  text-shadow: 0px 0px 5px #00000040;
  opacity: 1;
  margin-bottom: 46.72px;
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .o-cart {
    max-width: 485px;
    max-height: 380px;
  }
  .o-cart-img {
    width: 485px;
    height: 380px;
  }
  .o-cart-caption {
    width: 180px;
    top: 60.78px;
  }
  .o-main-caption {
    height: 120px;
    font-size: 28.8px;
  }
  .o-sec-caption {
    height: 35px;
    font-size: 14px;

    margin-bottom: 36.72px;
  }
}
