.yeshtry-mobile {
    height: 40px;
    background: #FFF100 0% 0% no-repeat padding-box;
    box-shadow: 0px 0.27px 0.82px #00000080;
    opacity: 1;
    display: flex;
    align-items: center;
  }
  .yeshtry-mobile-container{
    width: 93px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    
  }

 