.addidas-main-section {
  height: 84px;
  display: flex;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0.92px 3px #00000080;
  opacity: 1;
}
.addidas-container {
  margin-right: auto;
    margin-left:  auto; 
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-section {
  width: 350px;
  height: 48px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.5004362463951111px solid #d8d8d8;
  border-radius: 24px;
  opacity: 1;
  display: flex;
  input {
    border: none;
    background: transparent;
  }
  input::placeholder {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
  }
  input:focus {
    outline: none;
  }
}
.searchI {
  margin: 12px 16.3px;
}


.addidas-main-options {
  display: flex;
  width: 290px;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  div {
    display: flex;
    align-items: center;
    p { 
      margin-left: 8px;
      font-size: 14px;
      font-weight: 900;
    }
  }
}
.userP{
  margin-right: 0px;
}
.cartI {
  position: relative;
}
.counter {
  position: absolute;
  left: 20px;
  top: -5px;
  width: 15px;
  height: 15px;
  padding: 1.8px 4.5px;
  font-size: 9.42px;
  font-weight: 900;
  background: #fff100 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
}


@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .addidas-container{
    max-width: 1000px;
  }
  .addidas-main-options {
    justify-content: space-evenly;
    div {
      p {
        margin-left: 6px;
        font-size: 12px;
      }
    }
  }
}


@media screen and (min-width: 800px) and (max-width: 1000px) {
  .addidas-container {
    max-width: 800px;
    
}
.addidas-main-options {
  justify-content: space-evenly;
  div {
    p {
      margin-left: 4px;
      font-size: 10px;
    }
  }
}
}




